:root {
  --white: #eaeaea;
  --black: #1E1B18;
  --primary: #D8315B;
  --secondary: #3E92CC;
  --dark-secondary: #0A2463;
  --green: #447130; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  max-height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--black);
  color: var(--white);
  display: flex;
  scrollbar-width: 10px;
}

header{
  height: 5rem;
  background: linear-gradient(to left, var(--dark-secondary), var(--green),var(--secondary), var(--primary), var(--white));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.logo h1{
  transition: all .2s;
  color: var(--white);
  font-size: 3em;
}

.logo img {
  height: 4.5rem;
  transition: all .2s;
}

.logo:hover img,.logo:hover h1 {
  transform: translateY(-5px);
  filter: drop-shadow(0 5px 1px  var(--black));
}

.logo:active img, .logo:active h1 {
  transform: none;
  filter: none;
}
header nav{
  width: 50%;
  margin-right: 5%;
}

header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  font-size: 1.5em;
  width: 100%;
  justify-content: space-between;
}
header nav ul li {
  height: 5rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  
}
header nav ul li div{
  background: var(--secondary) ;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 100%;
  left: 0;
  width: 100vw;
  height: fit-content;
  padding: 2rem;
  opacity:0%;
  transition: 0.2s cubic-bezier(1,-0.02,0,1.03) all ;
  
}

header nav ul li:hover div{
  opacity: 100%;
  bottom: 5rem;
}

header nav ul li img{
  height: 17rem;
  transform: translateX(100vw);
  transition: .6s all;
  opacity: 0%;
}
header nav ul li:hover img{
  opacity: 100%;
  transform: translateX(0vw);
}

header a {
  text-decoration: none;
  color: var(--white);
  transition: all .2s;
}
header a:hover{
  color: #a0a0a0;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh ;
  width: fit-content;

  transform: rotate(90deg) translateY(-100vh) ;
  transform-origin: top left;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #222;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5rem;
  padding: 1rem;
}


.flipped{
  width: calc(100vh - 5rem);
  height: 100vw;
  transform: rotate(-90deg) translateX( -88.5vh) ;
  transform-origin: top left;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
}